body {
  font-family: Verdana, Tahoma;
  font-size: 12pt; }

a {
  color: #0094ff; }
  a:visited {
    color: gray; }

.body-content {
  width: 1100px;
  margin: auto; }

.align-right {
  float: right; }

.clear {
  clear: both; }

/* Filters block */
.filters-block {
  height: 48px;
  border-bottom: #57a8e3 2px solid; }
  .filters-block ul {
    padding-left: 0px; }
    .filters-block ul li {
      list-style: none;
      float: left; }
      .filters-block ul li label > input {
        display: none; }
        .filters-block ul li label > input ~ span {
          line-height: 48px;
          padding: 15px 10px;
          cursor: pointer;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
        .filters-block ul li label > input:checked ~ span {
          background-color: #57a8e3;
          color: white; }

/* Off-line local data fallback indicator */
.fall-back {
  float: right;
  color: red;
  font-size: smaller;
  line-height: 48px; }

/* Vacancy information block */
.vacancy-item {
  margin-bottom: 4px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px; }
  .vacancy-item a {
    font-size: larger; }
  .vacancy-item.inactive {
    color: gray; }
    .vacancy-item.inactive a {
      color: lightgray; }
    .vacancy-item.inactive .tag-list > li {
      background-color: lightgray; }
  .vacancy-item .close-days {
    font-size: smaller;
    margin-top: 10px; }
  .vacancy-item .tag-list {
    padding-left: 0px;
    font-size: smaller; }
    .vacancy-item .tag-list > li {
      float: left;
      margin: 0px 4px 4px 0px;
      list-style-type: none;
      background-color: #83bfea;
      color: white;
      padding: 4px; }

/* Scroll-To-Top */
.top-scroller {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 18pt;
  box-shadow: silver 0px 0px 4px;
  background-color: #57a8e3;
  color: white;
  cursor: pointer;
  display: none; }
  .top-scroller.visible {
    display: block; }
